@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin: 16px;
  padding: 32px;
  border-radius: 32px;
  background: linear-gradient(90deg, #bbddec 0%, #d8e5fc 100%);
}